/*タグもの。 多分あまり触らない。*/
body{
    margin: 0;
}
/*idもの。 大きな外観*/
#title {
    background: linear-gradient(90deg,#313131,#000);
    margin: 0;
    padding: 1em 2em 1em 2em;
}
#article {
    width: 700px; 
    background-color: #f0f0f0;
    margin: auto;
    border-radius: 20px;
    padding: 0.5em;
}
/*classもの。 小さな外観*/
.white {
    color: white;
}
.center {
    text-align: center;
}
.title {
    margin: 1em 0.5em 1em 0.5em;
    padding-left: 0.3em;
    border-left: 4px solid #000;
}