/*フォント読み込み*/
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=BIZ+UDPMincho:wght@400;700&display=swap');
/*タグもの。*/
body{
    margin: 0;
    background-color: #202020;
    font-family: "BIZ UDPGothic", sans-serif;
    line-height: 2em;
}
a {
    color: #58c;
}
a:hover {
    color: #47b;
}
a:visited {
    color: #a9f;
}
th, td {
    border: white 1px solid;
    padding: 0.5em 1.5em;
}
table {
    border-collapse:  collapse;
}
code, pre {
    background-color: #202020;
    max-width: 640px;
    padding: 0.25em 1em;
    overflow-x: auto;
    border-radius: 0.5em;
}
/*idもの。 大きな外観*/
#title {
    background: linear-gradient(90deg,#313131,#000);
    margin: 0;
    padding: 2em 2em 2em 2em;
    font-size: xx-large;
}
#article {
    max-width: 720px; 
    width: 90%;
    background-color: #313131;
    margin: auto;
    border-radius: 20px;
    padding: 0.5em;
    color: white;
    box-shadow: 0 0 4px 0px #131313;
}
#footer {
    background-color: #313131;
    margin: 0;
    padding: 1em 2em 1em 2em;
    color: white;
    text-align: center;
}
/*classもの。 小さな外観*/
.center {
    display: block;
    text-align: center;
    margin: auto;
}
.title {
    margin: 1em 0.5em 1em 0.5em;
    padding-left: 0.3em;
    border-left: 4px solid #fff;
}
.gray {
    color: gray;
}
.white {
    color: white;
}
.black {
    color: black;
}
